<html>
	<head>
		<link rel="stylesheet" href="\static\styles\style.css">
	</head>
	<body>
		<img src="\static\Pokeball.PNG" alt="Pokeball">
		<form action="{{ url_for('index') }}" method="post" novalidate>
			{{ form.hidden_tag() }}
			<p>
				{{ form.text.label }}
				{{ form.text }}
				{{ form.submit() }}
			</p>
		</form>
		{% block content %}{% endblock %}

		<p>Here is a link to the GitHub page for this project: <a href="https://github.com/kerrgavin/cpsc1301cooldem">https://github.com/kerrgavin/cpsc1301cooldem</a></p>
	</body>

</html>
